{% extends 'base.html' %}
{% block body %}

<div class="container">
  <div class="row">
    <h1 class="col-md-8">Welcome, {{ session['username'] }}!</h1>
    <div class="col-md-4">
      <a href="{{ url_for('admin_logout') }}">
        <button class="btn btn-danger btn-sm float-right">Logout</button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 left">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <h3 class="card-title col-md-4">Posts</h3>
            <div class="col-md-8">
              <a href="{{ url_for('admin_add_post') }}">
                <button class="btn btn-success btn-sm float-right">Add</button>
              </a>
            </div>
          </div>
          {% for post in posts %}
            <a href="" class="instance">{{ post['title'] }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 mt-3 left">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <h3 class="card-title col-md-4">Cars</h3>
            <div class="col-md-8">
              <a href="{{ url_for('admin_add_car') }}">
                <button class="btn btn-success btn-sm float-right">Add</button>
              </a>
            </div>
          </div>
          {% for car in cars %}
            <a href="{{ url_for('admin_get_car', id=car['id']) }}" class="instance">
              {{ car['model'] + ' ' + car['series'] }}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 mt-3 left">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <h3 class="card-title col-md-4">Trucks</h3>
            <div class="col-md-8">
              <a href="{{ url_for('admin_add_truck') }}">
                <button class="btn btn-success btn-sm float-right">Add</button>
              </a>
            </div>
          </div>
          {% for truck in trucks %}
            <a href="" class="instance">{{ truck['model'] + ' ' + size_types[truck['size']][1] }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
