{% extends 'base.html' %}
{% block body %}

<div class="container">
  <div class="row">
    <h1 class="col-md-8">Welcome, {{ session['username'] }}!</h1>
    <div class="col-md-4">
      <a href="{{ url_for('admin_logout') }}"><button class="btn btn-danger btn-sm float-right">Logout</button></a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 mt-3 left">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <h3 class="card-title col-md-4">Posts</h3>
            <div class="col-md-8">
              <button class="btn btn-success btn-sm float-right">Add</button>
            </div>
          </div>
          <a href="#" class="instance">My First Post!</a>
          <a href="#" class="instance">My First Post!</a>
          <a href="#" class="instance">My First Post!</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 mt-3 left">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <h3 class="card-title col-md-4">Cars</h3>
            <div class="col-md-8">
              <button class="btn btn-success btn-sm float-right">Add</button>
            </div>
          </div>
          <a href="#" class="instance">Car</a>
          <a href="#" class="instance">Car</a>
          <a href="#" class="instance">Car</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 mt-3 left">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <h3 class="card-title col-md-4">Trucks</h3>
            <div class="col-md-8">
              <button class="btn btn-success btn-sm float-right">Add</button>
            </div>
          </div>
          <a href="#" class="instance">Truck</a>
          <a href="#" class="instance">Truck</a>
          <a href="#" class="instance">Truck</a>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
