{% extends 'base.html' %}
{% block body %}

{% if car %}
  {% set car = car %}
  {% set action_redirect = url_for('admin_update_car', id=car['id']) %}
{% else %}
  {% set car = None %}
  {% set action_redirect = url_for('admin_add_car') %}
{% endif %}

<style>
  .option-button {
    margin-left: 15px;
  }
</style>

<div class="container">
  <div class="col-md-8 mt-3 left">
    <div class="card mb-4">
      <div class="card-body">
        <h3 class="card-title">Add new Car</h3>
        {% if created %}
        <div class="alert alert-success" role="alert">
          Car successfully created!
        </div>
        {% endif %}
        {% if created == false %}
        <div class="alert alert-danger" role="alert">
          There was an Error! Please try again!
        </div>
        {% endif %}
        <form action="{{ action_redirect }}" method="POST">

          <div class="form-group">
            <label for="car_type">Car Type</label>
            <select
              class="form-control"
              id="car_type"
              name="car_type"
              {% if car %}
                value="{{ car['car_type'] }}"
              {% endif %}
              required
            >
              {% for type in car_type_types %}
                <option value="{{ type[0] }}">{{ type[1] }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="model">Model</label>
            <input
              type="text"
              class="form-control"
              id="model"
              name="model"
              {% if car %}
                value="{{ car['model'] }}"
              {% endif %}
              required
            />
          </div>

          <div class="form-group">
            <label for="series">Series</label>
            <input
              type="text"
              class="form-control"
              id="series"
              name="series"
              {% if car %}
                value="{{ car['series'] }}"
              {% endif %}
              required
            />
          </div>

          <div class="form-group">
            <label for="slug">Slug</label>
            <input
              type="text"
              class="form-control"
              id="slug"
              name="slug"
              {% if car %}
                value="{{ car['slug'] }}"
              {% endif %}
              required
            />
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              class="form-control"
              id="description"
              rows="7"
              name="description"
              required
            >{% if car['description'] %}{{ car['description'] }}{% endif %}</textarea>
          </div>

          <div class="form-group">
            <label for="price">Price</label>
            <input
              type="number"
              class="form-control"
              id="price"
              name="price"
              step="0.01"
              min="0"
              {% if car %}
                value="{{ car['price'] }}"
              {% endif %}
              required
            />
          </div>

          <div class="form-group">
            <label for="status">Status</label>
            <select
              class="form-control"
              id="status"
              name="status"
              {% if car %}
                value="{{ car['status'] }}"
              {% endif %}
              required
            >
              {% for status in vehicle_status_types %}
                <option value="{{ status[0] }}">{{ status[1] }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="transmission">Transmission Type</label>
            <select
              class="form-control"
              id="transmission"
              name="transmission"
              {% if car %}
                value="{{ car['transmission'] }}"
              {% endif %}
              required
            >
              {% for type in transmission_types %}
                <option value="{{ type[0] }}">{{ type[1] }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="fuel">Fuel Type</label>
            <select
              class="form-control"
              id="fuel"
              name="fuel"
              {% if car %}
                value="{{ car['fuel'] }}"
              {% endif %}
              required
            >
              {% for type in fuel_types %}
                <option value="{{ type[0] }}">{{ type[1] }}</option>
              {% endfor %}
            </select>
          </div>

          <button type="submit" class="btn btn-success float-right option-button">{{ action }}</button>

        </form>
        {% if car %}
          <form action="{{ url_for('admin_delete_car', id=car['id']) }}" method="POST">
            <button type="submit" class="btn btn-danger float-right option-button">Delete</button>
          </form>
        {% endif %}
        <a href="{{ url_for('admin_index') }}">
          <button class="btn btn-secondary">Back</button>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}