{% extends 'base.html' %}
{% block body %}

<div class="container">
  <div class="col-md-8 mt-3 left">
    <div class="card mb-4">
      <div class="card-body">
        <h3 class="card-title">Add new Car</h3>
        {% if created %}
        <div class="alert alert-success" role="alert">
          Car successfully created!
        </div>
        {% endif %}
        <form action="{{ url_for('admin_add_car') }}" method="POST">

          <div class="form-group">
            <label for="car_type">Car Type</label>
            <select
              class="form-control"
              id="car_type"
              name="car_type"
              required
            >
              {% for type in car_type_types %}
                <option value="{{ type[0] }}">{{ type[1] }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="model">Model</label>
            <input
              type="text"
              class="form-control"
              id="model"
              name="model"
              required
            />
          </div>

          <div class="form-group">
            <label for="slug">Slug</label>
            <input
              type="text"
              class="form-control"
              id="slug"
              name="slug"
              required
            />
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              class="form-control"
              id="description"
              rows="7"
              name="description"
              required
            ></textarea>
          </div>

          <div class="form-group">
            <label for="price">Price</label>
            <input
              type="number"
              class="form-control"
              id="price"
              name="price"
              step="0.01"
              min="0"
              required
            />
          </div>

          <div class="form-group">
            <label for="status">Status</label>
            <select
              class="form-control"
              id="status"
              name="status"
              required
            >
              {% for status in car_status_types %}
                <option value="{{ status[0] }}">{{ status[1] }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="series">Series</label>
            <input
              type="text"
              class="form-control"
              id="series"
              name="series"
              required
            />
          </div>

          <div class="form-group">
            <label for="transmission">Transmission Type</label>
            <select
              class="form-control"
              id="transmission"
              name="transmission"
              required
            >
              {% for type in transmission_types %}
                <option value="{{ type[0] }}">{{ type[1] }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="fuel">Fuel Type</label>
            <select
              class="form-control"
              id="fuel"
              name="fuel"
              required
            >
              {% for type in fuel_types %}
                <option value="{{ type[0] }}">{{ type[1] }}</option>
              {% endfor %}
            </select>
          </div>

          <button type="submit" class="btn btn-success float-right">Add</button>
        </form>
        <a href="{{ url_for('admin_index') }}">
          <button class="btn btn-secondary">Back</button>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}