{% extends 'base.html' %}
{% block body %}

<div class="container">
  <h1>Cars</h1>
  {% for model in car_models %}
    <div class="row">
      <div class="col-md-8 mt-3 left">
        <div class="card mb-4">
          <div class="card-body">
            <h3 class="card-title">{{ model }}</h3>
            {% for car in cars[model] %}
              <a href="{{ url_for('car_detail', car_id=car['id']) }}">
                <h6>{{ car['series'] }}</h6>
              </a>
              <p>PHP {{ '%0.2f'|format(car['price']) }}</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
