{% extends "base.html" %}
{% block body %}

<div class="container">
    <h1>News and Information</h1>
    <div class="row">
        <!-- Post Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in posts %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post['title'] }}</h2>
                    <p class="card-text text-muted h6">{{ post['author'] }} | {{ post['created_on'] }}</p>
                    <p class="card-text">{{ post['content'] }}</p>
                    <a href="#" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}