{% extends 'base.html' %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 left">
      <div class="card mb-4">
        <div class="card-body">
          <h1 class="card-title">Model: {{ vehicle['model'] }}</h1>
            <p>Series: {{ vehicle['series'] }}</p>
            {% if vehicle['fuel'] %}
              <p>
                Transmission and Fuel: {{
                    transmission_types[vehicle['transmission']][1] +
                    ' ' +
                    fuel_types[vehicle['fuel']][1]
                }}
              </p>
            {% endif %}
            <p>Price: PHP {{ '%0.2f'|format(vehicle['price']) }}</p>
            <p>Description: {{ vehicle['description'] }}</p>
            <a href="{{ url_for('cars_list', car_type=vehicle['car_type']) }}">
              <button class="btn btn-secondary btn-sm">Back</button>
            </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}