{% extends 'base.html' %}
{% block body %}

{% if vehicle_type == 'Cars' %}
  {% set url_name = 'car_detail' %}
{% else %}
  {% set url_name = 'truck_detail' %}
{% endif %}

<div class="container">
  <h1>{{ vehicle_type }}</h1>
  {% for model in models %}
    <div class="row">
      <div class="col-md-8 mt-3 left">
        <div class="card mb-4">
          <div class="card-body">
            <h3 class="card-title">{{ model }}</h3>
            {% for vehicle in vehicles[model] %}
              <a href="{{ url_for(url_name, id=vehicle['id']) }}">
                {% if vehicle_type == 'Cars' %}
                  <h6>{{ vehicle['series'] }}</h6>
                {% else %}
                  <h6>
                    {{
                      size_types[vehicle['size']][1] +
                      ' ' +
                      weight_category_types[request.args.get('weight_category')|int][2]
                    }}
                  </h6>
                {% endif %}
              </a>
              <p>PHP {{ '%0.2f'|format(vehicle['price']) }}</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
